:root {
  // Colours
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-200: 234, 100%, 97%;
  --color-neutral-400: 232, 10%, 56%;
  --color-neutral-800: 233, 54%, 16%;
  --color-primary-300: 341, 100%, 83%;
  --color-primary-500: 341, 92%, 62%;
  --color-secondary: 234, 25%, 52%;
  --color-gradient-primary-start: 322, 87%, 55%;
  --color-gradient-primary-end: 13, 100%, 64%;
  --color-gradient-secondary-start: 237, 100%, 64%;
  --color-gradient-secondary-end: 322, 87%, 55%;

  --color-gradient-primary: linear-gradient(
    hsl(var(--color-gradient-primary-start)),
    hsl(var(--color-gradient-primary-end))
  );
  --color-gradient-secondary: linear-gradient(
    hsl(var(--color-gradient-secondary-start)),
    hsl(var(--color-gradient-secondary-end))
  );

  // Fonts
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fs-100: 1rem; // 16px
  --fs-200: 1.125rem; // 18px
  --fs-300: 1.5rem; // 24px
  --fs-400: 2rem; // 32px
  --fs-500: 2.5rem; // 40px
  --fs-600: 3.5rem; // 56px
  --ff-primary: 'Plus Jakarta Sans', sans-serif;

  // Typography
  --leading-200: 28px;
  --leading-400: 40px;
  --leading-500: 51px;
  --leading-700: 70px;

  // Links
  --link-decoration: none;
  --link-fw: var(--fw-bold);
  --link-color: hsl(var(--color-primary-500));
  --link-color-active: hsl(var(--color-primary-300));
  --link-transition: 200ms ease-in-out all;

  // Headings
  --heading-fw: var(--fw-extrabold);
  --heading-ff: var(--ff-primary);
  --heading-color: hsl(var(--color-neutral-800));

  // Copy
  --copy-fw: var(--fw-medium);
  --copy-fs: var(--fs-100);
  --copy-ff: var(--ff-primary);
  --copy-leading: var(--leading-200);
  --copy-color: hsl(var(--color-neutral-400));

  @media (min-width: 48em) {
    --copy-fs: var(--fs-200);
  }

  // Buttons
  --btn-fw: var(--fw-bold);
  --btn-fs: var(--fs-200);
  --btn-ff: var(--ff-primary);
  --btn-leading: var(--leading-200);
  --btn-color: hsl(var(--color-neutral-100));
  --btn-radius: 999px;
  --btn-padding: 0.875rem 2rem;

  // Button Themes
  --btn-default-bg: hsl(var(--color-neutral-800));
  --btn-default-bg-active: hsl(var(--color-secondary));

  --btn-primary-bg: var(--color-gradient-primary);
  --btn-primary-bg-active: linear-gradient(
    hsla(var(--color-gradient-primary-start), 0.5),
    hsla(var(--color-gradient-primary-end), 0.5)
  );

  --btn-secondary-bg: var(--color-gradient-secondary);
  --btn-secondary-bg-active: linear-gradient(
    hsla(var(--color-gradient-secondary-start), 0.5),
    hsla(var(--color-gradient-secondary-end), 0.5)
  );

  // Wrapper
  --wrapper-max-width: 21.4375rem;

  @media (min-width: 48em) {
    --wrapper-max-width: 43.0625rem;
  }

  @media (min-width: 90em) {
    --wrapper-max-width: 69.375rem;
  }
}
