:root {
  // Colours
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-200: 234, 100%, 97%;
  --color-neutral-400: 232, 10%, 56%;
  --color-neutral-800: 233, 54%, 16%;
  --color-primary-300: 341, 100%, 83%;
  --color-primary-500: 341, 92%, 62%;
  --color-secondary: 234, 25%, 52%;
  --color-gradient-primary-start: 322, 87%, 55%;
  --color-gradient-primary-end: 13, 100%, 64%;
  --color-gradient-secondary-start: 237, 100%, 64%;
  --color-gradient-secondary-end: 322, 87%, 55%;
  --color-gradient-body-start: hsl(var(--color-neutral-100));
  --color-gradient-body-end: hsl(var(--color-neutral-200));

  --color-gradient-primary: linear-gradient(
    hsl(var(--color-gradient-primary-start)),
    hsl(var(--color-gradient-primary-end))
  );
  --color-gradient-secondary: linear-gradient(
    hsl(var(--color-gradient-secondary-start)),
    hsl(var(--color-gradient-secondary-end))
  );

  --color-gradient-body: linear-gradient(
    var(--color-gradient-body-start),
    var(--color-gradient-body-end)
  );

  // Fonts
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fs-100: 1rem; // 16px
  --fs-200: 1.125rem; // 18px
  --fs-300: 1.5rem; // 24px
  --fs-400: 2rem; // 32px
  --fs-500: 2.5rem; // 40px
  --fs-600: 3.5rem; // 56px
  --ff-primary: 'Plus Jakarta Sans', sans-serif;

  // Typography
  --leading-200: 28px;
  --leading-400: 40px;
  --leading-500: 51px;
  --leading-700: 70px;

  // Links
  --link-decoration: none;
  --link-fw: var(--fw-bold);
  --link-color: hsl(var(--color-primary-500));
  --link-color-active: hsl(var(--color-primary-300));
  --link-transition: 200ms ease-in-out all;

  // Headings
  --heading-fw: var(--fw-extrabold);
  --heading-ff: var(--ff-primary);
  --heading-color: hsl(var(--color-neutral-800));

  // Copy
  --copy-fw: var(--fw-medium);
  --copy-fs: var(--fs-100);
  --copy-ff: var(--ff-primary);
  --copy-leading: var(--leading-200);
  --copy-color: hsl(var(--color-neutral-400));

  @media (min-width: 48em) {
    --copy-fs: var(--fs-200);
  }

  // Buttons
  --btn-fw: var(--fw-bold);
  --btn-fs: var(--fs-200);
  --btn-ff: var(--ff-primary);
  --btn-leading: var(--leading-200);
  --btn-color: hsl(var(--color-neutral-100));
  --btn-radius: 999px;
  --btn-padding: 0.875rem 2rem;

  // Button Themes
  --btn-default-bg: hsl(var(--color-neutral-800));
  --btn-default-bg-active: hsl(var(--color-secondary));

  --btn-primary-bg: var(--color-gradient-primary);
  --btn-primary-bg-active: linear-gradient(
    hsla(var(--color-gradient-primary-start), 0.5),
    hsla(var(--color-gradient-primary-end), 0.5)
  );

  --btn-secondary-bg: var(--color-gradient-secondary);
  --btn-secondary-bg-active: linear-gradient(
    hsla(var(--color-gradient-secondary-start), 0.5),
    hsla(var(--color-gradient-secondary-end), 0.5)
  );

  // Hero Content
  --hero-content-fs: var(--fs-100);
  --hero-content-margin-top: 2.375rem;
  --hero-content-gap: 1.5rem;
  --hero-content-heading-fs: var(--fs-500);
  --hero-content-heading-leading: var(--leading-500);
  --hero-content-max-width: var(--wrapper-max-width);

  @media (min-width: 48em) {
    --hero-content-margin-top: 6.1875rem;
    --hero-content-max-width: 24.875rem;
    --hero-content-gap: 1.875rem;
  }

  @media (min-width: 90em) {
    --hero-content-fs: var(--fs-200);
    --hero-margin-top: 11.125rem;
    --hero-content-max-width: 28.5625rem;
    --hero-content-heading-fs: var(--fs-600);
    --hero-content-heading-leading: var(--leading-700);
  }

  // Hero Image
  --hero-img-url: url('../assets/images/image-hero-mobile@2x.png');
  --hero-margin-top: 2.875rem;
  --hero-img-width: 20.4375rem;
  --hero-img-height: 18.8125rem;

  @media (min-width: 48em) {
    --hero-img-url: url('../assets/images/image-hero-tablet@2x.png');
    --hero-margin-top: 0;
    --hero-img-width: 40rem;
    --hero-img-height: var(--hero-img-width);
  }

  @media (min-width: 90em) {
    --hero-img-url: url('../assets/images/image-hero-desktop@2x.png');
    --hero-img-width: 61.9375rem;
    --hero-img-height: 58.5rem;
  }

  // Wrapper
  --wrapper-max-width: 21.4375rem;

  @media (min-width: 48em) {
    --wrapper-max-width: 43.0625rem;
  }

  @media (min-width: 90em) {
    --wrapper-max-width: 69.375rem;
  }

  // Header
  --header-margin-top: 2rem;

  @media (min-width: 48em) {
    --header-margin-top: 1.5rem;
  }

  // Popular Courses Grid
  --popular-courses-gap: 2.5rem;

  @media (min-width: 48em) {
    --popular-courses-margin-top: 7.75rem;
    --popular-courses-gap: 2rem 0.6875rem;
  }

  @media (min-width: 90em) {
    --popular-courses-margin-top: 15rem;
    --popular-courses-gap: 3.5rem 1.875rem;
  }

  // Popular Courses Grid Item
  --popular-courses-grid-item-fs: var(--fs-100);
  --popular-courses-grid-item-bg: hsl(var(--color-neutral-100));
  --popular-courses-grid-item-radius: 15px;
  --popular-courses-grid-item-padding: 0 1.5rem 2rem;
  --popular-courses-grid-item-gap: 0.5rem;
  --popular-courses-grid-item-icon-transform: translateY(-1.5rem);

  @media (min-width: 48em) {
    --popular-courses-grid-item-padding: 0 1.5rem 2.5rem;
  }

  @media (min-width: 90em) {
    --popular-courses-grid-item-fs: var(--fs-200);
    --popular-courses-grid-item-padding: 0 1.875rem 2.5rem;
  }
}
