@use '../abstracts' as abstract;

.popular-courses {
  @include abstract.grid(1, var(--popular-courses-gap));

  margin-top: var(--popular-courses-margin-top);

  @media (min-width: 48em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 90em) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    @include abstract.flex-col($gap: var(--popular-courses-grid-item-gap));

    font-size: var(--popular-courses-grid-item-fs);
    background-color: var(--popular-courses-grid-item-bg);
    border-radius: var(--popular-courses-grid-item-radius);
    padding: var(--popular-courses-grid-item-padding);
    justify-content: left;
    align-items: flex-start;

    .heading {
      font-size: var(--popular-courses-grid-item-heading-fs);
    }

    img {
      transform: var(--popular-courses-grid-item-icon-transform);
    }

    a {
      margin-top: auto;
      font-size: var(--popular-courses-grid-item-link-fs);
    }
  }
}
