@use '../abstracts' as abstract;

body {
  font: var(--copy-fw) var(--copy-fs) var(--copy-ff);
  line-height: var(--copy-leading);
  color: var(--copy-color);
  overflow-x: hidden;
}

a {
  text-decoration: var(--link-text-decoration);
  font-weight: var(--link-fw);
  color: var(--link-color);
  transition: var(--link-transition);

  @include abstract.hover-focus {
    color: var(--link-color-active);
  }
}

.heading {
  font-weight: var(--heading-fw);
  font-family: var(--heading-ff);
  color: var(--heading-color);
}
